<%= render 'public/menu' %>
<div class="site-body">
<h1>Famílias</h1>
<p>Abaixo estão as famílias dos fundadores da cidade. Depois vieram mais algumas pessoas que fundaram família, mas nada ainda expressivo. Cada uma das famílias originais atuou de alguma forma para o crescimento da cidade e isto virou uma marca para cada uma, tendo orgulho de suas profissões e papéis.</p>

<h1>Hann</h1>
<p>Família Hann tem como matriarca Bella que era uma barda. A família Hann é conhecida por contar e vivenciar grandes histórias, segundo muitos dizem, nem todas reais.</p>
<p>Hann se dedicou a trabalho com madeira, levantando as primeiras casas (não muito boas) e armas de madeira. Seu amor pela esposa o fez aprender sobre instrumentos musicais também. Juntos, ensinaram música à sua família, tornando a vida na cidade mais palatável nos primeiros e difíceis anos.</p>
<p>Bella tinha uma voz doce, que encantava a todos que ouviam e sua música serviu para motivar soldados em Dulgodar e encanta os viajantes que passam pela cidade, sendo uma ajuda inesperada para obter recursos.</p>
<p>Henry, o primogênito da família, sonhou com o pai lhe dando um belíssimo arco élfico. Hann, no entanto, não sabia fazer arco algum mas considerou que um dia deveria fazê-lo. Dias depois, o jovem pereceu em febre aos 6 anos. Bella enterrou com seu filho seu alaúde favorito e Hann dedicou-se a fazer arcos diversos após conhecer o elfo da lua Kenneth.</p>
<p>Anos depois o casal perdeu uma Tyris, sua primeira filha, ao nascimento. Consideravam-se amaldiçoados de alguma forma e indignos de ter filhos. Sentiam-se como velas destinadas a se apagar numa noite fria.</p>
<p>Num aniversário de morte de Rena, Bella entoou um canto em homenagem a irmã de Mainnet e com ela teve um sonho. Nele, Rena agradecia pela bela canção e dizia trazer um presente para a barda que de imediato se viu grávida. A partir deste dia, Bella cantava diariamente para Rena e exatamente nove meses depois tiveram Resse e anos depois, Emília.</p>
<p>A família considerarou-se abençoada com o casal e o amaram com todo amor que tinham e transmitiram a eles todos seus conhecimentos.</p>
<p>Bella então morreu aos 50 anos, de velhice. E um ano depois, ia-se aos 52 anos após terminar um arco élfico longo, que era uma verdadeira obra de arte que tinha gravado em élfico "Henry, seu sonho foi o meu e de sua mãe. Sempre esteve vivo em nossos corações".</p>
<p>O casal foi enterrado ao lado das covas de seus filhos e alguns dizem que é possível ouvir a doce voz de Bella nas noites de outono, cantando para todos seus filhos.</p>
<p><strong>Talentos Locais:</strong> Ardiloso, Artista, Origem Mercante</p>
<p><strong>Profissões:</strong> Arquearia, Carpintaria, Lenhador, Engenheiro, Luthier</p>
<p><strong>Classes Favorecidas:</strong> Bardo</p>
<p><strong>Equipamento Inicial:</strong> Roupas simples x5, algibeira, mochila, tocha x2, arco curto com 10 flechas ou espada curta ou instrumento musical (qualquer), adaga.</p>
<p><strong>Extra:</strong> Traje de artesão, bancada para manutenção de instrumentos, "serraria" (martelo, serrote, cinzel e outros equipamentos básicos para trabalho com madeira).</p>
<p><strong>Dinheiro Inicial:</strong> 10 + 1d10 PC</p>



<h1>Flambard</h1>
<p>Flambard e sua esposa, Zilka, tiveram três filhas: Awnia, Duana e Imedia. Isso gerou nele a percepção de que logo poderia não ter mais gerações com seu nome. Junto com sua esposa, que era letrada dentre todos, pouparam as filhas de quase todo trabalho braçal e investiu em conhecimentos para que pudessem terem famílias com seus próprios nomes.</p>
<p>A casa da família Flambard era a mais simples e acabada. Quase todo dinheiro que obtiam era gasto com livros e aulas para suas filhas, que cresceram com bastante conhecimento.</p>
<p>Zilka incentivava suas filhas a estudarem cada vez mais, mesmo sob as risadas de Mathghamhain e principalmente de Mainnet, que dizia que as meninas certamente iriam desejar se casar com os bravos filhos dele.</p>
<p>As três meninas demonstraram todo potencial de conhecimento. Ainda jovens tinham conhecimento sobre quase tudo. Mãos delicadas, diferente de outras garotas, mas mentes afiadíssimas e que trouxeram retorno de investimento a sua casa quando cresceram.</p>
<p>Awnia se tornou uma apotecária e serviu em Dulgodan, salvando algumas vidas. Duana estudou sobre diversos assuntos e obteve conhecimentos de alquimia, ajudando a melhorar plantações e a forja simples que a cidade tinha. Imedia se tornou comerciante em Shoppan e ao fim de sua vida, fez a primeira estalagem que vendia a cerveja local.</p>
<p><strong>Talentos Locais:</strong> Fala Mansa, Educação, Mãos de Prata</p>
<p><strong>Profissões:</strong> Alfaiataria, Boticário, Escriba, Apotecário (médicos), Comerciante, Cervejeiro, Engenheiro, Alquimia</p>
<p><strong>Classes Favorecidas:</strong> Ladino, Bardo</p>
<p><strong>Equipamento Inicial:</strong> Roupas simples x5, algibeira, mochila, tocha x2, arco curto com 10 flechas ou espada curta, adaga.</p>
<p><strong>Extra:</strong> Bancada para alquimia simples, kit de Primeiros Socorros, kit de alfaiataria, tinta, pergaminhos, papéis, traje de artesão.</p>
<p><strong>Dinheiro Inicial:</strong> 10 + 1d10 PC</p>

<h1>Wolfgang</h1>
<p>Junto com Ayne, fundaram a família de lutadores e agricultores. Responsáveis pela terra, começaram semeando e colhendo os primeiros frutos. Também foram os coletores iniciais da cidade e com isto, obtiveram conhecimentos com ervas e foram os descobridores da erva Sussurradora na Floresta Proibida.</p>
<p>De inicio, Wolfgand serviu no forte de Dulgodan para arrecadar dinheiro inicial e conseguiu um bom dinheiro. Ele não era exatamente o tipo forte, mas era sagaz e com isto, ia com sua esposa caçar e cultivar.</p>
<p>Ayne, por sua vez, era muito meticulosa e cuidadosa. Era uma otima caçadora e extremamente furtiva além de boa arqueira. Diziam que ela era a "preferida dos deuses" por sua sorte, mas ela era bastante humilde e apenas alegava que amava seus filhos demais para se abater por ferimentos, dor e qualquer outra coisa.</p>
<p>Wolfgang morreu aos 39 anos em ao enfrentar um grupo de lobos, protegendo seus filhos e os de seus amigos. Ayne continuou por mais 3 anos, morrendo aos 41 anos em sua casa, após sofrer de envenenamento de flechas dos kobolds.</p>
<p>Esta família é conhecida, além de tudo, por seu amor entre os seus além de ter um ar de heróicos. Mesmo sem ser os mais habilidosos em combate são os primeiros a correr para enfrentar algo que ataque a cidade. Faça chuva ou sol.</p>  
<p><strong>Talentos Locais:</strong> Brutamontes, Furtivo, Sorte dos Heróis</p>
<p><strong>Profissões:</strong> Fazendeiro, Armadilheiro, Caçador, Treinador de Animais</p>
<p><strong>Classes Favorecidas:</strong> Ranger, Ladino</p>
<p><strong>Equipamento Inicial:</strong> Roupas simples x5, algibeira, mochila, tocha x2, saco de estrepes, armadura acolchoada, arco curto com 10 flechas ou espada curta.</p>
<p><strong>Extra:</strong> Livro de ervas, contendo várias combinações de antídotos e bancada para fazer 3 doses de veneno ou antídoto por dia.</p>
<p><strong>Dinheiro Inicial:</strong> 20 + 1d10 PC</p>

<h1>Mathghamhain</h1>
<p>O patriarca era chamado de "O Corajoso". Além disso, foi uma das poucas famílias que conseguiu não perder filhos enquanto os pais eram vivos. Casado com Vasilia, a família tratou de cuidar da caça e exploração além de se gabar de serem a família de corajosos da cidade.</p>
<p>Mathghamhain contava vantagem e sempre aceitava desafios de alguma forma. Visivalmente era um homem não tão esperto pois aceitava qualquer desafio, por mais bobo ou arriscado que seja. Encarou lobos, javalis, caçou pelado, pulava fogueiras, nadou contra o rio e até aceitou o desafio de domar um urso.</p>
<p>Mainnet tinha sido o desafiante e por isto batizaram o urso de "Manny", que não era exatamente um filhote e que acabou sendo um símbolo para esta família. Mainnet teve de dar sua espada longa, herança que recebeu de Dias para a fúria de Coulombe. Após uma semana de uso indevido da tal espada, como para cortar carne para fazer iscas, remexer brasas, cortar lenha (apenas uma, pois a arma era bem ineficiente) e cavar um buraco para enterrar fazes, Mathghamhain devolveu a espada para Coulombe.</p>
<p>O patriarca da família morreu jovem. Sempre evitava a Floresta Proibida e aos 36 anos desapareceu em uma caçada a um javali na tal floresta.</p>
<p>Vasilia, sua esposa, aprendeu a utilizar o couro das caças para fazer diversos itens que são usados na cidade e foi a grande responsável pela vitória de seu esposo sobre o desafio de Mainnet. Mathghamhain dizia que ela acalmava o coração das feras (e por isso ele era perdidamente apaixonado por ela). Quando conseguiram ensinar o urso, começaram a treinar outros animais.</p>
<p>Mesmo com a morte do marido, Vasilia continuava incentivando seus filhos a serem os mais corajosos de toda cidade e que amem os animais pois são a raiz da família.</p>
<p><strong>Talentos Locais:</strong> Brutamontes, Destemido, Mateiro</p>
<p><strong>Profissões:</strong> Armadilharia, Curtidor, Guia, Caçador, Treinador de Animais</p>
<p><strong>Classes Favorecidas:</strong> Ranger, Guerreiro</p>
<p><strong>Equipamento Inicial:</strong> Roupas simples x5, algibeira, tocha x3, armadura de couro, arco curto com 10 flechas ou espada curta, adaga ou escudo de madeira.</p>
<p><strong>Extra:</strong> Cão de caça ou Carcará</p>
<p><strong>Dinheiro Inicial:</strong> 30 + 2d10 PC</p>



<h1>Mainnet</h1>
<p>Coulombe e sua irmã Arwen abdicaram de uma família relativamente nobre. Seu pai, Dias, era soldado e ensinou a suas filhas sobre como lutar. Mainnet é seu amigo de infância a absorvia todo aquele conhecimento com ela. Crescendo, pareceu óbvio que seriam amantes e assim foi. Este amor militar foi passado adiante. Os filhos do casal foram todos homens e todos aprenderam desde cedo a ser lutadores.</p>
<p>De nada adianta coragem estúpida dos Mathghamhain ou o desejo ardente dos Wolfgang. Combates são algo sério e deve-se ter táticas certas. E isto faz com que a familia seja bem orgulhosa desta tradição que remonta o passado nobre de sua mãe.</p>
<p>Arwen decidiu dedicar-se à forja, iniciando este costume à família. Inicialmente fazendo pequenos utensílios e ferraduras, terminou tentando forjar as primeiras armas junto com Duana ap Flambard.</p>
<p>A irmã de Mainnet, Rena, morreu com um ataque de um urso para salvar Dalton, primeira criança a nascer na cidade. Com isto, Mainnet passou a odiar todo e qualquer urso que via e herdou a religiosidade de sua irmã.</p>
<p>Sobre a disputa de urso com Mathghamhain, Mainnet reconhece que não foi algo inteligente pois a estupidez de seu vizinho supera qualquer adversidade. Mas com isso, pode reconhecer o valor dos demais que estão ao seu redor.</p>
<p>A dama Coulumbe sempre demonstrava insatisfação pela vida simples que levavam e comentava que poderiam estar vivendo melhor se não tivessem se mudado para a cidade. Isso fazia com que Mainnet trabalhasse ainda mais até o dia em que ele morreu num ataque dos kobolds. Com isto, ela se tornou uma pessoa amarga e insatisfeita mesmo com seus filhos saudáveis e fortes. O fel que derramava sobre seu marido escorreu para demais pessoas próximas.</p>
<p>Foi então que Arwen, numa noite chuvosa, brigou com sua irmã. A irmã mais velha não vivia num mundo que não era o dela e que acabou reclamando tanto enquanto tinha Mainnet ao seu lado que não soube aproveitar os bons momentos que também viveu. Além disso, Coulumbe agia como se não tivesse escolhido se mudar, responsabilizando seu marido por todas adversidades mas nada fazia para melhorar a vida que tinham.</p>
<p>Para a sorte de todos, esta "conversa" fez com que Coulumbe mudasse a forma de perceber a vida. Tornou-se um ser abrandado e rezava para Rena e seu irmão. Conseguiu também se aproximar de seus filhos. Faleceu tranquilamente aos 55 anos em sua casa.</p>
<p><strong>Talentos Locais:</strong> Brutamontes, Sorte dos Heróis, Milícia</p>
<p><strong>Profissões:</strong> Armadilharia, Caçador, Armeiro, Ferreiro, Mineiro</p>
<p><strong>Classes Favorecidas:</strong> Guerreiro, Paladino</p>
<p><strong>Equipamento Inicial:</strong> Roupas simples x5, algibeira, tocha x3, armadura de couro, arco curto com 10 flechas ou espada curta, adaga ou escudo de madeira.</p>
<p><strong>Extra:</strong> Forja, uma divindade para adorar (pode ser inclusive Rena)</p>
<p><strong>Dinheiro Inicial:</strong> 10 + 2d10 PC</p>



<h1>Gregory</h1>
<p>Família Gregory era o que podia ser chamada de de fazendeiros. Ele e sua esposa, Melusine acordavam cedo diariamente e cuidavam dos animais grandes (vacas, cavalos, etc...), cabras e galinhas. Para muitos, um trabalho ingrato e sem glamour, mas não para eles.</p>
<p>Tudo começou na infância da matriarca, que amava cavalos e tudo que levou de onde vivia era um cavalo que seu pai, Rufus, deu de presente: Trovão.</p>
<p>Gregory facilmente se afeiçoou ao animal que era inteligentíssimo e ajudava a arar a terra para plantio dos Wolfgang e levar mercadorias para Shoppan ou Dulgodar e era um animal que todos reconheciam a beleza e vitalidade.</p>
<p>Enquanto cavalgava numa tarde de verão, Melusine avistou uma caravana que estava tentando fugir de um grupo de ladrões. Rapidamente, correu até Rena e alertou o povo. Wolfgang, Mainnet, Ayne, Gregory e Mathghamhain correram para ajudar e conseguiram afugentar os bandidos. Era uma caravana de religiosos: Mãos da Glória de Imalter. E começaram então a estreitar laços com os Gregory.</p>
<p>Tempo passou e o casal foi abençoado com uma criança e Kinna, uma das religiosas de Imalter, vinha semanalmente até Rena para cuidar das grávidas, em especial de Melusine. Ironicamente, no dia em que os religiosos deixaram a cidade a criança deu sinal de que viria.</p>
<p>Sem pensar duas vezes, Gregory e Hann cavalgaram em busca dos religiosos, que seguiram a estrada para Shoppan. Hann conta que seu cavalo não conseguia aguentar o ritmo de cavalgada que Trovão e Gregory viajavam. "Era como se deixassem o chão em brasas", dizia. Gregory acabou seguindo sozinho até encontrar as Mãos da Glória de Imalter e de imediato, falou com Kinna. A religiosa o acalmou de tal forma que ele se sentiu um tanto tolo por cavalgar de tal forma e deixar todos preocupados. Melusine já estava preparada para receber o filho e tinha os cuidados de Ayne, afinal.</p>
<p>Mas isto não foi suficiente para Trovão. O cavalo corria com uma fúria e garra que apenas cavalos de guerra possuem, rejeitando qualquer covardia que um cavaleiro poderia ter. No começo da noite chegaram em Rena. Fizeram um percurso num tempo que jamais poderiam imaginar.</p>
<p>O parto ocorreu muito bem e Fendrel veio ao mundo muito saudável. No entanto, Trovão não conseguiu resistir a exaustão e acabou morrendo, trazendo uma noite de uma alegria com sabor amargo.</p>
<p>Hann prestou homenagem ao Trovão e a família Gregory entalhando um brasão que continha um cavalo em pé e uma representação de um trovão ao fundo. Este ficou sendo o símbolo desta família de cavaleiros e amazonas.</p>
<p><strong>Talentos Locais:</strong> Mãos de Prata, Cavaleiro, Fala Mansa</p>
<p><strong>Profissões:</strong> Fazendeiro, Rancheiro, Caçador, Treinador de animais, Pastor</p>
<p><strong>Classes Favorecidas:</strong> Paladino, Ranger</p>
<p><strong>Equipamento Inicial:</strong> Roupas simples x5, algibeira, tocha x3, armadura acolchoada, arco curto com 10 flechas ou espada curta, adaga ou escudo de madeira.</p>
<p><strong>Extra:</strong> Um cavalo leve treinado e veloz (mais rápido que o padrão, movendo-se a 7km/h ou 56km/dia), sela, alforge, uma divindade para adorar (pode ser inclusive Rena), 3 cordas de 15m</p>
<p><strong>Dinheiro Inicial:</strong> 10 + 2d10 PC</p>


</div>
