<%= render 'public/menu' %>
<div class="site-body">
<h1>Regras Do Jogo</h1>
<h2>Personagens Forasteiros</h2>
<p>Qualquer pessoa que esteja a menos de 5 anos na cidade é tida como forasteira. Isso não é exatamente uma regra, é como as pessoas se comportam em sociedades mais ou menos fechadas. Podem andar com você, sorrir, ajudar mas não irão contar segredos nem confiar completamente em você a não ser que tenha um ótimo motivo para tal.</p>
<p><strong>Equipamento Inicial:</strong> Roupas simples x5, algibeira, mochila, tocha x2, arco curto com 10 flechas ou espada curta.</p>
<p><strong>Dinheiro Inicial:</strong> 4d10PC</p>
<p><strong>Talento Local:</strong> Qualquer um do Forgotten Realms</p>

<h2>Sucessos e Falha Crítica</h2>
<p>Fazer testes melhoram a medida que o jogador progride em perícias ou habilidades. Há </p>

<h2>Cura e Recuperação</h2>
<p>São tempos difíceis. Isto se reflete inclusive na forma como os personagens se curam de machucados.</p>
<p>Os personagens podem recuperar por vias normais apenas um ponto de vida diariamente.Para tal, o jogador deverá rolar diariamente um teste de constituição com dificuldade 15. Sucesso indica que o personagem recupera o ponto e falha disperdiçará o dia.</p>
<p>Os primeiros socorros, ervas de cura e outros métodos comuns permitem um bônus de +2 no teste de cura, desde que aquele que aplicou a cura tenha sucesso no teste de sua perícia. Obter uma falha crítica causará -2 para o teste de recuperação.</p>
<p>Magia, no entanto, tem efeito diferente. Ao ser efeito de uma magia de cura, o corpo garante que o resultado dos pontos de vida será recuperado a cada dia. Se um paladino cura uma pessoa em 4 pontos de vida, significa que por 4 dias ela recuperará 1 ponto de vida, podendo ainda recuperar outro por vias normais de cura.</p>

</div>
