<div class="site-body"> 

<%= render 'continue_player', player: @player %>


<% if user_signed_in? %>
	<%= link_to 'Voltar', user_chars_path %>
<% elsif master_signed_in? %>
	<%= link_to 'Voltar', char_maker_path %>
<% end %>
</div>