
<% if true == false %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="site-body"> 
  <h1>Lugares</h1>


  <div id="align">
  <table id="elements">
    <thead>
      <tr>
        <th>Nome</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @scenarios.each do |scenario| %>
        <tr>
          <td><%= scenario.name %></td>
          <td><%= link_to 'Mostrar', scenario %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  </div>
</div>


