<%= render 'public/menu' %>

<p id="notice"><%= notice %></p>
<h1>Localizações</h1>
<p>Clique para ler sobre uma localidade.</p>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @scenarios.each do |scenario| %>
      <tr>
        <td><%= scenario.name %></td>
        <td><%= link_to 'Mostrar', scenario %></td>
      </tr>
    <% end %>
  </tbody>
</table>

